@import url("../fonts/glyphicons-halflings-regular.woff2");

/* h1 {
  position: fixed;
} */

body {
  height: 5000px;
  padding: 50px;
}

.block {
  background-color: purple;
  height: 100px;
}

span {
  display: inline-block;
  /* background-color: green; */
  height: 100px;
}

.parent {
  width: 500px;
  height: 500px;
  background: yellow;
  position: relative;
  left: 200px;
}

.child {
  width: 100px;
  height: 100px;
  background: blue;
  position: relative;
  top: 20px;
  left: 20px;
}

section {
  height: 100px;
  background: orange;
  border: 1px solid black;
}

.one, .two {
  height: 200px;
  width: 200px;
  background: tomato;
  border: 1px solid black;
}

@media screen and (max-width: 900px){
  .one {
    border-radius: 25%;
    background: teal;
  }
  .two {
    border-radius: 50%;
    background: grey;
  }
}

.glyphicon {
  font-size: 3em;
  color: white;
}

@media screen and (max-width: 768px){
  .one {
    border-radius: 50%;
    background: rebeccapurple;
  }
  .two {
    border-radius: 25%;
    background: green;
  }
}
